a{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#A91C3D;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: italic;
}
p{
  color:#fefdfd;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
h1{
  color: white;
   margin: 0;
  font-family:"Montserrat", sans-serif;
  font-weight: 800;
}
h2{
  color:#fefdfd;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
button{
  background-color:#2c2c2c;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color:#fefdfd;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
  .box{
    float: left;
    background-color: #2c2c2c;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
  }
  .boxText{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px; 
  }
  .invisible{
    display: none;
  }
  body{
     background-color:#190409;
     margin-left: 2%; margin-right: 2%; margin-top: 0;
  }
  main{
    margin: 8px;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

ul li a:hover {
  background-color: #111111;
}
.postItem{
  background-color: #2c2c2c;
  margin-left: 2%;
  margin-right: 60%;
}
.boxes{
  margin-left: -2%; margin-right: -2%; margin-top: 0;
}