{%extends "layout.html" %}
{%block content%}
<style src="/static/css/style.css"></style>
<p>
<button style="margin-left: 2%; margin-bottom: 1%;margin-top: 0.5%;">Create new post</button>
<input 
    type="text" 
    id="postSearch" 
    placeholder="Search for a post" 
    onkeyup="filterSearchPosts()"
>

    Filter:
    <select onchange="filterposts(this.value)">
        <option value="default">Default</option>
        <option value="alpha">Alphabetically</option>
        <option value="date">By Post Date</option>
        <option value="Resolved">Resolved</option>
    </select>
</p>
{%for post in posts%}
    <div class="post">
        <a href="/help/{{post[0]}}" style="justify-content: left;align-items: left; margin-left: 1%;">{{post[2]}}</a>
    </div>
    <br>
{%endfor%}
<br>

<script>
    function filterSearchPosts() {
        const query = document.getElementById("postSearch").value.toLowerCase();
        const posts = document.querySelectorAll(".post");
        posts.forEach(post => {
            const text = post.textContent.toLowerCase();
            post.style.display = text.includes(query) ? "" : "none";
        });
    }
    function filterposts(mode) {
        const list = document.getElementById("postList");
        const posts = [...list.querySelectorAll(".post-item")];

        posts.sort((a, b) => {
            if (mode === "default") return a.dataset.postid.localeCompare(b.dataset.id)
            if (mode === "alpha") return a.dataset.title.localeCompare(b.dataset.title);
            if (mode === "artist") return a.dataset.artist.localeCompare(b.dataset.artist);
            if (mode === "date") return a.dataset.date - b.dataset.date;
            return 0; 
        });

        posts.forEach(post => list.appendChild(post));
    }
</script>
{%endblock%}