{%extends "layout.html" %}
{%block content%}
<style src="/static/css/style.css"></style>
<br>
<a href="{{song}}">Song Link</a>
<br>
<br>
<!-- <button onclick="toggleElement()">Show/Hide Song</button> -->
<br>
<br>
{% for i in range(1, 11) %}
<div class="box" id="box{{ i }}">
  {% for song in boxsong %}
    {% if song[0] == 'box' ~ i %}
    <p id="text{{ i }}" class="boxText" draggable="true">
      {{ song[2] }} by {{ song[4] }} <br> {{ song[3] }}
    </p>
    {% endif %}
  {% endfor %}
</div>
{% endfor %}
<button onClick="logAllBoxData()">Submit</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<p class="song_info">{{search_song}} by {{artist}}</p>
<h1 class="song_info">{{year}}</h1>

<h2>box where guesses appear</h2>
<div class="box" id="boxGuess">  
  <p id="text1" class="boxText" draggable="true">{{gameres[0][0]}} <br>by {{gameres[0][1]}}
  <br>{{gameres[0][2]}}</p></div>
<script src="/static/javascript/drag.js"></script>

<script>
window.onload = toggleElement()
function toggleElement(){
    const elements = document.querySelectorAll(".song_info");
    elements.forEach(element=>{
    element.hidden = !element.hidden;
    });
}  

function logAllBoxData() {
    const allData = {};

    for (let i = 1; i <= 10; i++) {
      const box = document.getElementById(`box${i}`);
      const texts = box.querySelectorAll('.boxText');
      allData[`box${i}`] = Array.from(texts).map(p => p.innerText.trim());
    }

    console.log(allData);
  }

</script>
{%endblock%}  