{%extends "layout.html" %}
{%block content%}
<style src="/static/css/style.css"></style>

<input 
    type="text" 
    id="songSearch" 
    placeholder="Search by title or artist..." 
    onkeyup="filterSongs()"
>

<div id="songList">
    {%for song in songs%}
        <p class="song-item"> <img src="/static/cover_art/{{song[0]}}.jpg" style="width: 5%; height: 5%; vertical-align: middle;"> <span>{{song[1]}} by {{song[2]}}</span></p>
    {%endfor%}
</div>

<script>
    function filterSongs() {
        const query = document.getElementById("songSearch").value.toLowerCase();
        const songs = document.querySelectorAll(".song-item");

        songs.forEach(song => {
            const text = song.textContent.toLowerCase();
            song.style.display = text.includes(query) ? "" : "none";
        });
    }
</script>

{%endblock%}